body{
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#clientMessages{
    height: 81vh;
    overflow-y: scroll
}
#userList{
    list-style-type: none;
}
#userList li{
    border-radius: 4px;
    cursor: pointer;
    background-color: #EEE;
    margin-bottom: 2px;
}
